.banner,
.team-member,
.team-title {
  text-align: center;
}
.intensive {
  background: url("../assets/images/houses.webp") center center/cover no-repeat;
}
.group {
  background: url("../assets/images/group.png") center center/cover no-repeat;
}
.banner {
  background: url("../assets/images/mountains.png") center center/cover
    no-repeat;
  padding: 50px 0;
}
.banner h1 {
  color: #fff;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  padding: 50px 5%;
}
.info {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 5%;
}
.info p {
  align-self: flex-start;
}
.team {
  background-size: cover;
  padding: 20px 5%;
}
.team-title {
  font-size: 2em;
  margin-bottom: 20px;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
.team-member {
  margin: 10px;
  width: 300px;
}
.team-member img {
  width: 300px;
  max-width: fit-content;
  height: auto;
  object-fit: cover;
}
.team-member h3 {
  margin-top: 10px;
  font-size: 1.4em;
}
.team-member p {
  margin-top: 5px;
  color: #000;
}
@media screen and (max-width: 769px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 20px 5%;
  }
  .info {
    margin: 0;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
@media screen and (max-width: 711px) {
  .team {
    background-size: cover;
    padding: 10px 5%;
    width: 90%;
  }
  .team-members {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .team-member {
    text-align: center;
    margin: 10px;
    width: 100%;
  }
  .team-member img {
    width: 80%;
    max-width: fit-content;
    height: auto;
    object-fit: cover;
  }
}