@media screen and (max-width: 768px) {
  .topnav {
    background-color: #333;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: url('../assets/images/burger.svg');
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } 

  /* Style the active link (or home/logo) */
  .active {
    background-color: red;
    color: white;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  header {
    background-color: #f9f9f9;
  }

  header a {
    text-decoration: none;
  }

  header .header-logo-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  header .header-logo-link div {
    padding: 10px 20px;
  }

  header .header-logo-link .heading {
    font-size: 35px;
    color: red;
    margin: 0;
  }
  header .header-logo-link .subheading {
    font-size: 12px;
    color: black;
    margin: 0;
  }
  header img {
    height: 50px;
  }
  header .contact-info {
    visibility: collapse;
  }

  .logo {
    height: 50px;
  }

  nav {
    display: none;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  nav ul li {
    margin-left: 15px;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }

  nav ul li a:hover {
    background-color: red;
    color: white;
  }

  .main-content {
    text-align: center;
    padding: 100px 20px;
    color: white;
    align-self: stretch;
  }

  .main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .main-content .signup-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 14px;
  }

  .footer-legal ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 0 10px;
  }

  .footer-legal ul li {
    margin: 5px 0;
  }

  .footer-legal ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }

  .footer-legal ul li a:hover {
    color: #ff5555;
  }

  .footer-bottom {
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 10px;
  }

  .rectangle {
    width: 100%;
    height: 1px;
    background: black;
  }
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    flex-direction: column;
  }

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    width: 70%;
    align-self: center;
  }

  header a {
    text-decoration: none;
  }
  .topnav {
    visibility: collapse;
  }

  header .header-logo-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  header .header-logo-link div {
    padding: 10px 20px;
  }

  header .header-logo-link .heading {
    font-size: 35px;
    color: red;
    margin: 0;
  }
  header .header-logo-link .subheading {
    font-size: 12px;
    color: black;
    margin: 0;
  }
  header img {
    height: 50px;
  }
  header.contact-info {
    text-align: right;
  }

  .logo {
    height: 50px;
  }

  nav {
    display: flex;
    align-self: center;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  nav ul li {
    margin-left: 15px;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }

  nav ul li a:hover {
    background-color: red;
    color: white;
  }

  .main-content {
    text-align: center;
    padding: 100px 20px;
    color: white;
    align-self: stretch;
  }

  .main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .main-content .signup-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 14px;
  }

  .footer-legal ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 0 10px;
  }

  .footer-legal ul li {
    margin: 5px 0;
  }

  .footer-legal ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }

  .footer-legal ul li a:hover {
    color: #ff5555;
  }

  .footer-bottom {
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 10px;
  }

  .rectangle {
    width: 100%;
    height: 1px;
    background: black;
  }
}
