main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.intensive{
    background: url('../assets/images/mountains.png') no-repeat center center;
    background-size: cover;
}

.group{
    background: url('../assets/images/group.png') no-repeat center center;
    background-size: cover;
}

.main-content .signup-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 50px 100px;
}
.content {
    flex: 1;
    max-width: 40%;
}
.sidebar {
    flex: 10;
    background-color: white;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: start;
}
.button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.highlight {
    color: red;
}
