.intensive {
  background: url("../assets/images/index1.jpg") no-repeat center center;
  background-size: cover;
}

.group {
  background: url("../assets/images/group.png") no-repeat center center;
  background-size: cover;
}

.banner h1 {
  color: white;
}

.cta button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cta button:hover {
  background-color: darkred;
}

.study,
.our-projects {
  text-align: center;
  margin-top: 5px;
  background-size: cover;
  padding: 50px 0;
}

.study-title,
.projects-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  margin: 3%;
}

@media screen and (max-width: 325px) {
  .study-forms,
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 5%;
  }
  .study-form,
  .project {
    text-align: center;
    width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 325px) {
  .study-forms,
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .study-form,
  .project {
    text-align: center;
    width: 300px;
    background: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.study-form img,
.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.study-form h3 {
  margin-top: 15px;
  font-size: 1.6em;
  color: #333;
}

.study-form p {
  margin-top: 10px;
  color: #666;
  font-size: 1em;
}

.price {
  font-size: 1.2em;
  color: red;
  margin-top: 10px;
}

.more-info-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.more-info-btn:hover {
  background-color: darkred;
}

.study-form .more-info-btn {
  text-align: center;
}
