.intensive {
  background: url("../assets/images/index1.jpg") center center/cover no-repeat;
}
.banner h1 {
  color: #fff;
}
.cta button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.cta button:hover,
.more-info-btn:hover {
  background-color: #8b0000;
}
.our-projects,
.study {
  text-align: center;
  margin-top: 5px;
  background-size: cover;
  padding: 50px 0;
}
.projects-title,
.study-title {
  text-align: center;
  font-size: 2em;
  margin: 3%;
}
@media screen and (max-width: 325px) {
  .projects,
  .study-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 5%;
  }
  .project,
  .study-form {
    text-align: center;
    width: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 325px) {
  .projects,
  .study-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .project,
  .study-form {
    text-align: center;
    width: 300px;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.project img,
.study-form img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s ease;
}
.study-form h3 {
  margin-top: 15px;
  font-size: 1.6em;
  color: #333;
}
.study-form p {
  margin-top: 10px;
  color: #666;
  font-size: 1em;
}
.price {
  font-size: 1.2em;
  color: red;
  margin-top: 10px;
}
.more-info-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.study-form .more-info-btn {
  text-align: center;
}