@media screen and (max-width: 1000px) {
  .news-banner {
    background: url("../assets/images/index.jpg") center center/cover no-repeat;
    padding: 5%;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 90%;
  }
  .image {
    width: 90%;
    border-radius: 10px;
    margin-top: 20px;
    align-self: center;
  }
  .news-header {
    width: 90%;
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
  }
  .news-text {
    font-size: 22px;
    color: #333;
    width: 90%;
  }
}
@media screen and (min-width: 1000px) {
  .news-banner {
    background: url("../assets/images/index.jpg") center center/cover no-repeat;
    padding: 40px 100px;
  }
  .container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    max-width: 60%;
  }
  .image {
    max-width: 50vh;
    max-height: 30vh;
    height: auto;
    border-radius: 10px;
    float: left;
    max-width: 700px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .news-header {
    font-size: 32px;
    color: #333;
  }
  .news-text {
    font-size: 22px;
    color: #333;
    margin: 0 20px;
  }
}
.news-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  align-self: start;
}