.banner h1 {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 1%;
  margin: 5%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.info p {
  align-self: flex-start;
}

.info h3 {
  align-self: flex-start;
}

@media screen and (max-width: 500px) {
  .info {
    font-size: x-small;
  }
}

@media screen and (max-width: 768px) {
  .rectangle {
    display: none;
  }
}